{{> header.html }}

<div class="siimple-content siimple-content--large">
    <!--
    <div class="siimple-breadcrumb siimple--mb-3">
        <a href="/docs/index.html" class="siimple-breadcrumb-item">Docs</a>
        {{#each page.breadcrumb}}
        <a href="{{this.link}}" class="siimple-breadcrumb-item {{#if this.active}}siimple-breadcrumb-item--active{{/if}}">{{this.title}}</a>
        {{/each}}
    </div>
    -->
    <div class="siimple-row">
        <!-- Menu column -->
        <div class="siimple-column siimple-column--3 siimple-column--sm-12">
            <div class="siimple-nav siimple-nav--vertical website-menu">
                {{#each page.sidebar}}
                {{#if (eq this.type "group")}}
                <a href="{{this.link}}" class="siimple-nav-group">{{this.title}}</a>
                {{else}}
                <a href="{{this.link}}" class="siimple-nav-item {{#if this.active}}siimple-nav-item--active siimple--bg-white{{/if}}">{{this.title}}</a>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <!-- Content column -->
        <div class="siimple-column siimple-column--9 siimple-column--sm-12">
            <div class="siimple-h2">{{ page.title }}</div>
            {{ content }}
        </div>
    </div>
</div>

{{> footer.html }}

