html {
    margin: 0px !important;
    padding: 0px !important;
}

body {
    margin: 0px;
    padding: 50px;
}

.demo {
    padding-bottom: 50px;
}

.icon {
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.3s;
}

.icon .siimple-icon {
    font-size: 35px;
    color: #546778;
}

.icon:hover {
    background-color: #4e91e4;
}

.icon:hover .siimple-icon {
    color: #ffffff !important;
}

