//
// siimple - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "siimple-lib" as siimple;

//Checkbox variables
$checkbox-width: 18px;
$checkbox-height: 18px;
$checkbox-margin: 6px;
$checkbox-border-radius: 3px;

//Checkbox class
.#{siimple.$prefix}checkbox {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: $checkbox-width;
    height: $checkbox-height;
    margin: $checkbox-margin;
    vertical-align: top;
    cursor: pointer;
    border-radius: $checkbox-border-radius;
    background: siimple.color("light");
    //Label icon
    //Check icon for checked status
    //Minus icon for indeterminate status
    &:after {
        content: "";
        width: 8px;
        height: 4px;
        position: absolute;
        background: transparent;
    }
    //Checked/Indeterminate -> change background
    &:checked,
    &--active,
    &:indeterminate {
        background-color: siimple.color("primary");
        transition: background-color 0.3s;
    }
    //Indeterminate-> change tick
    &:indeterminate:after {
        border-bottom: 2px solid siimple.color("white");
        top: 4px;
        left: 5px;
    }
    //Checked --> display tick
    &:checked:after,
    &--active:after {
        //opacity: 1;
        top: 4px;
        left: 4px;
        transform: rotate(-45deg);
        border-left: 2px solid siimple.color("white");
        border-bottom: 2px solid siimple.color("white");
    }
    //Checkbox colors
    @each $color in siimple.utils-keys(siimple.$status-colors) {
        &--#{$color}:checked,
        &--#{$color}#{&}--active,
        &--#{$color}:indeterminate {
            background-color: siimple.color($color);
        }
    }
}

