//Toast variables
//$neutrine-toast-width: 600px;
$neutrine-toast-index: 4000;
$neutrine-toast-offset: 15px;

//Toast element class
.neutrine__toast {
    //width: $neutrine-toast-width;
    transition: all 0.3s;
    min-height: 50px;
    z-index: $neutrine-toast-index;
    position: fixed;
    //left: calc(50% - #{$neutrine-toast-width} / 2);
    margin: 0px !important;
    padding: 0px !important;
    opacity: 0;
    bottom: -50%;
    //Visible toast
    &--visible {
        bottom: $neutrine-toast-offset;
        opacity: 1.0 !important;
    }
    ////Toast position top
    //&--top { 
    //    top: -50px; 
    //}
    ////Toast position top visible
    //&--top#{&}--visible { 
    //    top: 40px !important; 
    //}
    //Centered bottom toast
    &--center { 
        //bottom: -50%;
        transform: translateX(-50%);
        left: 50%;
    }
    //Left aligned bottom toast
    &--left {
        //bottom: -50%;
        left: $neutrine-toast-offset;
    }
    //Right aligned bottom toast
    &--right {
        //bottom: -50%;
        right: $neutrine-toast-offset;
    }
    //Bottom visible styles
    //&--bottom#{&}--visible,
    //&--bottom-left#{&}--visible,
    //&--bottom-right#{&}--visible {
    //    bottom: $neutrine-toast-offset;
    //}
}
