//
// siimple-lib - core scss library for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/develop/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

@use "../variables.scss" as variables;

//Gray color palette
$grays: (
    "gray0": variables.$gray0,
    "gray1": variables.$gray1,
    "gray2": variables.$gray2,
    "gray3": variables.$gray3,
    "gray4": variables.$gray4,
    "gray5": variables.$gray5,
    "gray6": variables.$gray6,
    "gray7": variables.$gray7,
    "gray8": variables.$gray8,
    "gray9": variables.$gray9
) !default;

//Default color palette
$colors: (
    "primary": variables.$primary,
    "secondary": variables.$secondary,
    "success": variables.$success,
    "warning": variables.$warning,
    "error": variables.$error,
    "dark": variables.$dark,
    "light": variables.$light
) !default;

//Status colors
$status-colors: (
    "success": variables.$success,
    "warning": variables.$warning,
    "error": variables.$error
) !default;

//Default theming colors
$theme-colors: (
    "light": variables.$light,
    "dark": variables.$dark
) !default;

//Default breakpoints map
$breakpoints: (
    "xl": variables.$breakpoint-xl,
    "lg": variables.$breakpoint-lg,
    "md": variables.$breakpoint-md,
    "sm": variables.$breakpoint-sm
) !default;

//Default content sizes map
$contents: (
    "small": variables.$content-small,
    "medium": variables.$content-medium,
    "large": variables.$content-large,
    "xlarge": variables.$content-xlarge
) !default;

//Spacing values map
$spacing: (
    "0": 0px,  //No spacing
    "1": 0.25rem, //for f.s. of 16px --> 4px
    "2": 0.5rem,  //for f.s. of 16px --> 8px
    "3": 1rem,    //for f.s. of 16px --> 16px
    "4": 1.5rem,  //for f.s. of 16px --> 24px
    "5": 2rem,    //for f.s. of 16px --> 32px
    "6": 2.5rem,  //for f.s. of 16px --> 40px
    "7": 3rem,    //for f.s. of 16px --> 48px
    "8": 4rem,    //for f.s. of 16px --> 64px
    "9": 5rem     //for f.s. of 16px --> 80px
) !default;

