//
// siimple-lib - core scss library for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/develop/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

@use "../variables.scss" as variables;

//DEPRECATED: use lights or darks list instead
//Gray color palette
$grays: (
    "gray0": variables.$light1,
    "gray1": variables.$light2,
    "gray2": variables.$light3,
    "gray3": variables.$light4,
    "gray4": variables.$light5,
    "gray5": variables.$dark1,
    "gray6": variables.$dark2,
    "gray7": variables.$dark3,
    "gray8": variables.$dark4,
    "gray9": variables.$dark5
) !default;

//Lights color list
$lights: (
    "light1": variables.$light1,
    "light2": variables.$light2,
    "light3": variables.$light3,
    "light4": variables.$light4,
    "light5": variables.$light5
) !default;

//Darks color list
$darks: (
    "dark1": variables.$dark1,
    "dark2": variables.$dark2,
    "dark3": variables.$dark3,
    "dark4": variables.$dark4,
    "dark5": variables.$dark5
) !default;

//Default color palette
$colors: (
    "primary": variables.$primary,
    "secondary": variables.$secondary,
    "success": variables.$success,
    "warning": variables.$warning,
    "error": variables.$error,
    "dark": variables.$dark,
    "light": variables.$light
) !default;

//Status colors
$status-colors: (
    "success": variables.$success,
    "warning": variables.$warning,
    "error": variables.$error
) !default;

//Default theming colors
$theme-colors: (
    "light": variables.$light,
    "dark": variables.$dark
) !default;

//Default breakpoints map
$breakpoints: (
    "xl": variables.$breakpoint-xl,
    "lg": variables.$breakpoint-lg,
    "md": variables.$breakpoint-md,
    "sm": variables.$breakpoint-sm
) !default;

//Default content sizes map
$contents: (
    "small": variables.$content-small,
    "medium": variables.$content-medium,
    "large": variables.$content-large,
    "xlarge": variables.$content-xlarge
) !default;

//Spacing values map
$spacing: (
    "0": 0px,  //No spacing
    "1": 0.25rem, //for f.s. of 16px --> 4px
    "2": 0.5rem,  //for f.s. of 16px --> 8px
    "3": 1rem,    //for f.s. of 16px --> 16px
    "4": 1.5rem,  //for f.s. of 16px --> 24px
    "5": 2rem,    //for f.s. of 16px --> 32px
    "6": 3rem,    //for f.s. of 16px --> 48px
    "7": 4rem,    //for f.s. of 16px --> 64px
    "8": 5rem,    //for f.s. of 16px --> 80px
    "9": 6rem     //for f.s. of 16px --> 96px
) !default;

//Default columns values
$columns: (
    "1": "8.33%", 
    "2": "16.66%",
    "3": "24.99%", 
    "4": "33.33%",
    "5": "41.66%", 
    "6": "49.99%",
    "7": "58.33%", 
    "8": "66.66%",
    "9": "74.99%", 
    "10": "83.33%",
    "11": "91.66%", 
    "12": "99.99%"
) !default;

