//
// siimple - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "siimple-lib" as siimple;

//Spacing variables
$spacing-positions: ("t": "top", "b": "bottom", "l": "left", "r": "right") !default;
$spacing-horizontal: true !default; //Allow horizontal spacing (x)
$spacing-vertical: true !default; //Allow vertical spacing (y)
$spacing-shortcuts: ("m": "margin", "p": "padding") !default;
$spacing-values: siimple.$spacing !default;

//Spacing class
.#{siimple.$prefix-helpers} {
    @each $sk,$sv in $spacing-shortcuts {
        @each $vk,$vv in $spacing-values {
            //Check for adding horizontal spacings
            @if $spacing-horizontal == true {
                &#{$sk}x-#{$vk} {
                    #{$sv}-left: $vv !important;
                    #{$sv}-right: $vv !important;
                }
            }
            //Check for adding vertical spacings
            @if $spacing-vertical == true {
                &#{$sk}y-#{$vk} {
                    #{$sv}-top: $vv !important;
                    #{$sv}-bottom: $vv !important;
                }
            }
            //Add all positions
            &#{$sk}-#{$vk} {
                #{$sv}: $vv !important;
            }
            //Add positions
            @each $pk,$pv in $spacing-positions {
                &#{$sk}#{$pk}-#{$vk} {
                    #{$sv}-#{$pv}: $vv !important;
                }
            }
        }
    }
    //Margin auto
    &mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

