<div class="siimple-content siimple-content--large siimple--pt-9">
    <div class="siimple siimple siimple-h2 siimple--mb-1 siimple--text-normal" align="center">
        Why <strong class="siimple--text-secondary">siimple</strong> is awesome?
    </div>
    <div class="siimple-lead siimple--mb-7 siimple--text-normal" align="center">
        Style your website interface using a <strong>clean, flat and minimalistic style</strong>.
    </div>
    <div class="siimple-row">
        {{#each data.features }}
        <div class="siimple-column siimple-column--4 siimple-column--sm-12">
            <div class="siimple-media siimple--mb-0">
                <div class="siimple-media-start siimple--px-2">
                    <img src="{{this.image}}" width="50px" />
                </div>
                <div class="siimple-media-content">
                    <div class="siimple-h5 siimple--mt-0 siimple--mb-1">
                        {{ this.title }}
                    </div>
                    <div class="siimple-paragraph siimple-text-justify" style="opacity:0.8;">
                        {{{ this.content }}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

