<!-- Get started section -->
<div class="siimple-content siimple-content--large siimple--py-6">
    <div align="center">
        <img src="/assets/icons/get-started.svg" width="100px" height="100px" />
    </div>
    <div class="siimple siimple-h3 siimple--text-normal siimple--mb-6 siimple--mt-2" align="center">
        Let's <strong>get started!</strong>
    </div>
    <div class="siimple-row">
        <!-- Read the documentation -->
        <div class="siimple-column siimple-column--6 siimple-column--sm-12">
            <a class="siimple-card siimple-card--light" href="/docs/index.html">
                <div class="siimple-card-image" align="center">
                    <div style="padding-top:60px;padding-bottom:60px;">Image</div>
                </div>
                <div class="siimple-card-content">
                    <div class="siimple-h4 siimple--mb-2">Documentation</div>
                    <div class="siimple--text-muted">
                        Our documentation covers all you need to know to start building your website with <strong>siimple</strong>!
                    </div>
                </div>
                <div class="siimple-card-link">
                    Read the <strong>documentation</strong>
                </div>
            </a>
        </div>
        <!-- Get help -->
        <div class="siimple-column siimple-column--6 siimple-column--sm-12">
            <a class="siimple-card siimple-card--light" href="https://gitter.im/siimple/siimple">
                <div class="siimple-card-image" align="center">
                    <div style="padding-top:60px;padding-bottom:60px;">Image</div>
                </div>
                <div class="siimple-card-content">
                    <div class="siimple-h4 siimple--mb-2">Get support</div>
                    <div class="siimple--text-muted">
                        Need more help? Join our <strong>Gitter</strong> chat for getting help from the <strong>siimple</strong> community!
                    </div>
                </div>
                <div class="siimple-card-link">
                    Join <strong>our chat on Gitter</strong>
                </div>
            </a>
        </div>
    </div>
</div>

