<div class="siimple-content siimple-content--large siimple--pt-6">
    <div class="siimple--p-5 siimple--bg-light" style="border-radius:20px">
        <div align="center">
            <img src="/assets/icons/bullhorn.svg" width="100px" height="100px" />
        </div>
        <div class="siimple siimple-h3 siimple--mb-3 siimple--mt-2 siimple--text-normal" align="center">
            What people say about <strong>siimple</strong>?
        </div>
        <div class="siimple--py-4">
            <div class="siimple-row">
                {{#each data.reviews }}
                <div class="siimple-column siimple-column siimple-column--sm-12">
                    <div class="siimple-h5">{{ this.site }}</div>
                    <div class="siimple-paragraph">
                        <span style="opacity:0.7;">{{{ this.content }}}</span>
                    </div>
                    <a href="{{{ this.url }}}" class="siimple-link" target="_blank">
                        <span style="opacity:0.8">
                            Read <strong>more</strong> <strong>&raquo;</strong>
                        </span>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

