<div class="siimple-content siimple-content--large siimple--pt-6">
    <a name="toolkits"></a>
    <div class="siimple siimple-h2 siimple--mb-1 siimple--text-normal" align="center">
        Discover our <strong class="siimple--text-secondary">toolkits</strong>
    </div>
    <div class="siimple--mb-7 siimple-lead siimple--text-normal" align="center">
        We are adding more packages and plugins to the <strong>siimple ecosystem</strong>!
    </div>
    <div class="siimple-row siimple--mb-0">
        {{#each data.toolkits}}
        <div class="siimple-column siimple-column--4 siimple-column--sm-12">
            <div class="siimple--px-2">
                <a href="{{ this.url }}" style="text-decoration:none;">
                    <div class="siimple--border-rounded siimple--bg-light" align="center">
                        <img src="{{ this.image }}" width="180px" />
                    </div>
                </a>
                <div class="siimple--mt-3">
                    <div class="siimple-h4 siimple--text-normal siimple--mb-1">
                        <strong class="siimple" style="padding-right:4px;">siimple</strong>{{ this.title }}
                    </div>
                    <div class="siimple-paragraph" style="opacity:0.8;">{{{ this.content }}}</div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

