//
// siimple-lib - core scss library for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/develop/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

//Alias for lighten($color, $amount)
//https://sass-lang.com/documentation/modules/color#lighten
@function utils-lighten ($color, $amount) {
   @return color.adjust($color, $lightness: $amount); 
}

//Alias for darken ($color, $amount)
//https://sass-lang.com/documentation/modules/color#darken 
@function utils-darken ($color, $amount) {
    @return color.adjust($color, $lightness: -$amount);
}

//Return the luminance of a color
//From: https://css-tricks.com/snippets/sass/luminance-color-function/ 
//Reference: http://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef 
@function utils-luminance ($color) {
    $colors: ("red": red($color), "green": green($color), "blue": blue($color));
    @each $name, $value in $colors {
        $adjusted: 0;
        $value: $value / 255;
        @if $value < 0.03928 {
            $value: $value / 12.92;
        } @else {
            $value: ($value + .055) / 1.055;
            //Terrible hack to calculate pow($value, 2.4)
            $value: $value * $value;
        }
        $colors: map.merge($colors, ($name: $value));
    }
    @return (map.get($colors, "red") * .2126) + (map.get($colors, "green") * .7152) + (map.get($colors, "blue") * .0722);
}

//Check if the provided value is a color
@function utils-is-color ($value) {
    @return meta.type-of($value) == "color";
}

//Check if the provided value is a string
@function utils-is-string ($value) {
    @return meta.type-of($value) == "string";
}

//Check if the provided value is a map
@function utils-is-map ($value) {
    @return meta.type-of($value) == "map";
}

//Check if the provided value is a list
@function utils-is-list ($value) {
    @return meta.type-of($value) == "list";
}

//Alias for map.get
@function utils-get ($items, $key) {
    //Check for map --> return the value using map.get
    @if utils-is-map($items) == true {
        @return map.get($items, $key);
    }
    //Check for list --> return the value using nth
    @if utils-is-list($items) == true {
        @return list.nth($items, $key);
    }
    //Other type --> error
    @error "'get' method only accepts a list or a map";
}

//Alias for map.keys
@function utils-keys ($items) {
    //Check for map --> return the list of keys using map.keys
    @if utils-is-map($items) == true {
        @return map.keys($items);
    }
    //Check for list --> return a list: 1, 2, ... length($list)
    @if utils-is-list($items) == true {
        $list: (); //List with indexes
        @for $i from 1 through list.length($items) {
            $list: list.append($list, $i); //Append the value
        }
        @return $list; //Return the list keys
    }
    @return $items;
}

//Alias for map.values
@function utils-values ($items) {
    //Check for map --> return the list of values using map.values
    @if utils-is-map($items) == true {
        @return map.values($items);
    }
    //Otherwise: return the value provided
    @return $list;
}

//String replace
@function utils-replace($str, $search, $replace: "") {
    $index: string.index($str, $search);
    @if $index {
        @return string.slice($str, 1, $index - 1) + $replace + utils-replace(string.slice($str, $index + string.length($search)), $search, $replace);
    }
    @return $str;
}

