//
// siimple-lib - core scss library for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/develop/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

//Default class prefix
$name: "siimple" !default;
$prefix: $name + "-" !default;
$prefix-helpers: $name + "--" !default;

//Darker/lighter color amount
$darker-amount: 20% !default;
$lighter-amount: 20% !default;

//Light color palette
//https://coolors.co/f5f5f5-ebebeb-e0e0e0-d6d6d6-cccccc
$light1: #f5f5f5 !default; //#f6f6f9 !default;
$light2: #ebebeb !default; //#edeff3 !default;
$light3: #e0e0e0 !default; //#e1e5ea !default;
$light4: #d6d6d6 !default; //#cbd1d7 !default;
$light5: #cccccc !default; //#abb3ba !default;

//Dark color palette
//https://coolors.co/49495a-40404f-373743-2e2e38-25252d
$dark1: #49495a !default; //#6a727c !default;
$dark2: #40404f !default; //#58606a !default;
$dark3: #373743 !default; //#434c56 !default;
$dark4: #2e2e38 !default; //#2f363d !default;
$dark5: #25252d !default; //#24292e !default;

//Default colors
$primary: #4e91e4 !default;
$secondary: #4ccdac !default;
$success: #4acf7f !default;
$warning: #fbc850 !default;
$error: #ee675d !default; 
$muted: $dark1 !default; 
$light: $light2 !default;
$dark: $dark4 !default;

//Basic colors
$white: #ffffff !default;
$black: #000000 !default;
$transparent: transparent !default;

//Code colors (only for internal use)
$code-blue: #9be0fd !default;
$code-green: #b4f4a4 !default;
$code-red: #ff9999 !default;
$code-yellow: #ffe999 !default;
$code-purple: #d199ff !default;
$code-black: #2d3648 !default;
$code-white: #ffffff !default;

//Default content sizes variables
$content-gap: 20px !default; //Gap for breakpoints
//$content-fluid: 100% !default;
$content-small: 600px !default;
$content-medium: 768px !default;
$content-large: 1024px !default;
$content-xlarge: 1280px !default;

//Breakpoint variables
$breakpoint-sm: 544px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1024px !default;
$breakpoint-xl: 1280px !default;

//Default font variables
//WARNING: we are not importing fonts automatically --> use a <link> tag instead
//$font-url: "https://fonts.googleapis.com/css?family=Roboto:400,700" !default;
$font-default: sans-serif !default; //"Roboto", sans-serif !default;
$font-monospace: monospace !default;

//Weight values
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-bold: 700 !default;

//Default text properties
$text-size-small: 14px !default; //Small text size
$text-size-large: 20px !default; //Large text size
$text-size: 16px !default;
$text-color: $dark4 !default; //$dark !default;
$text-font: $font-default !default;
$text-weight: $weight-normal !default;

//Line height values
//$line-height-small: 20px !default;
$line-height: 1.5 !default; //24px !default;

//Default border values
$border-radius: 8px !default;

//Default margin values
$margin-top: 0px !default;
$margin-bottom: 16px !default;

//Screen sizes
$mobile: 600px !default;
$desktop: 1024px !default;

//Body variables
$body-bg: $white !default;
$body-color: $text-color !default;

