<div class="siimple-footer siimple-footer--large siimple--pt-6">
    <!-- Footer -->
    <div class="siimple-row">
        <div class="siimple-column siimple-column--10 siimple-column--sm-12">
            <div class="siimple-h5 siimple--text-dark">siimple</div>
            <div class="siimple-paragraph" style="opacity:0.5;max-width:300px;">
                This website was build using <strong>siimple toolkits</strong> and following the <strong>siimple design specification</strong>.
            </div>
        </div>
        <div class="siimple-column siimple-column--2 siimple-column--sm-12">
        </div>
    </div>
    <div class="siimple-rule"></div>
    <div class="siimple-row">
        <div class="siimple-column siimple-column--6 siimple-column--sm-12" align="left">
            <span class="siimple--text-small">{{{ site.copyright }}}</span>
        </div>
        <div class="siimple-column siimple-column--6 siimple-column--sm-12" align="right">
            {{#each site.footerLinks }}
            <div class="siimple--display-inline-block siimple--mr-2">
                <a href="{{ this.url }}" class="siimple-footer-link siimple--text-small" target="{{ this.target }}">{{ this.name }}</a>
            </div>
            {{/each }}
        </div>
    </div>
</div>
<!-- TODO: import analytics -->

