<!-- Get started section -->
<div class="siimple-content siimple-content--large siimple--py-6">
    <div align="center" class="siimple--mb-3">
        <div class="siimple-icon siimple-icon-rocket siimple--bg-primary website-icon-large"></div>
    </div>
    <div class="siimple siimple-h3 siimple--mb-6 siimple--mt-0" align="center">
        Let's <strong>get started!</strong>
    </div>
    <div class="siimple-row">
        <!-- Read the documentation -->
        <div class="siimple-column siimple-column--6 siimple-column--sm-12">
            <div class="siimple-card">
                <div class="siimple-card-content">
                    <div class="siimple-h4 siimple--mb-2">Documentation</div>
                    <div class="siimple--text-muted">
                        Our documentation covers all you need to know to start building your website with <strong>siimple</strong>!
                    </div>
                </div>
                <div class="siimple-card-content">
                    <a href="/docs/index.html" class="siimple-btn siimple-btn--primary siimple-btn--block">
                        Read the <strong>documentation</strong>
                    </a>
                </div>
            </div>
        </div>
        <!-- Get help -->
        <div class="siimple-column siimple-column--6 siimple-column--sm-12">
            <div class="siimple-card">
                <div class="siimple-card-content">
                    <div class="siimple-h4 siimple--mb-2">Get support</div>
                    <div class="siimple--text-muted">
                        Need more help? Join our <strong>Gitter</strong> chat for getting help from the <strong>siimple</strong> community!
                    </div>
                </div>
                <div class="siimple-card-content">
                    <a href="https://gitter.im/siimple/siimple" class="siimple-btn siimple-btn--primary siimple-btn--block">
                        Join <strong>our chat on Gitter</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

