<!-- Hero -->
<div class="siimple-content website-hero siimple-content--large siimple--bg-light1">
    <div class="siimple-row website-hero-content">
        <div class="siimple-column siimple-column--7 siimple-column--sm-12">
            <div class="website-hero-head siimple--mb-5">
                <strong>Hi, we are siimple</strong>.
            </div>
            <div class="siimple website-hero-subhead" style="opacity:0.8;">
                <u>Design</u> and <u>build</u> flat and minimalistic websites.
            </div>
            <div class="website-hero-text" style="opacity:0.8;">
                <strong>siimple </strong> is an open source project that provides a collection of toolkits for building fabulous websites and applications. 
            </div>
        </div>
        <!--
        <div class="siimple-column siimple-column--5 siimple-column--sm-hide">
            <img src="/assets/brand/website.svg" class="website-hero-image" width="100%"/>
        </div>
        -->
    </div>
</div>

