//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "../index.scss" as siimple;

//Paragraph class
.#{siimple.$prefix}paragraph, 
.#{siimple.$prefix}p {
    display: block;
    margin-top: 0px;
    margin-bottom: siimple.$margin-bottom;
}

