//
// siimple-lib - core scss library for siimple
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "../variables.scss" as variables;

//Body variables
$body-bg: variables.$white !default;
$body-color: variables.$dark !default;

//Import font from Google Fonts
//DEPRECATED: please use a <link> tag to import your fonts
//@import url(#{variables.$font-url});

//Default html style
html {
    background-color: $body-bg;
    color: $body-color; //text-color;
    font-family: variables.$font-default;
    font-weight: variables.$text-weight;
    font-size: variables.$text-size;
    line-height: variables.$line-height;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


