//
// siimple-experiments - experimental css components based on siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

//Import libs
@use "siimple-lib" as siimple;

//Modal variables
$modal-padding: 15px !default;

//Modal class
.#{siimple.$prefix-experiments}modal {
    display: flex;
    width: calc(100% - 2 * #{$modal-padding});
    height: calc(100% - 2 * #{$modal-padding});
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 400;
    padding: $modal-padding;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(siimple.color-darker("dark"), 0.4);
    //Modal content
    &-content {
        display: block;
        width: 100%;
        //max-width: 960px;
        background-color: siimple.color("white");
        border-radius: siimple.$border-radius;
        padding: 0px;
    }
    //Common styles
    &-header,
    &-body,
    &-footer {
        display: block;
        padding: 25px;
    }
    //First item
    &-header:first-child,
    &-body:first-child,
    &-footer:first-child {
        border-top-left-radius: siimple.$border-radius;
        border-top-right-radius: siimple.$border-radius;
    }
    //Last item
    &-header:last-child,
    &-body:last-child,
    &-footer:last-child {
        border-bottom-left-radius: siimple.$border-radius;
        border-bottom-right-radius: siimple.$border-radius;
    }
    //Modal header
    &-header {
        height: 24px;
        //border-bottom: 1px solid siimple.color("light");
        //Modal header title
        &-title {
            float: left;
            font-weight: bold;
            font-size: 20px;
            height: 24px;
            line-height: 24px;
        }
        //Modal header close button
        &-close {
            display: block;
            float: right;
            position: relative;
            width: 16px;
            height: 24px;
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.3s;
            &:hover {
                opacity: 1.0;
            }
            &::before,
            &::after {
                content: "";
                width: 16px;
                height: 3px;
                background-color: siimple.color("dark");
                position: absolute;
                border-radius: 1px;
                top: 10px;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
        &:after {
            content: "";
            clear: both;
        }
    }
    //Modal body
    &-body {
        overflow-y: auto;
        max-height: 50vh;
        background-color: siimple.gray("0");
    }
    //Modal footer
    &-footer {
        //color: siimple.color-lighter("dark");
        background-color: siimple.color("white");
    }
    //Modal sizes
    &--small &-content {
        max-width: siimple.content("small");
    }
    &--medium &-content {
        max-width: siimple.content("medium");
    }
    &--large &-content {
        max-width: siimple.content("large");
    }
}

