//Import dependencies
@use "siimple-lib" as siimple;
//@use "siimple/scss/brand.scss" as brand;

//Override siimple styles
.siimple-code {
    font-size: 90% !important;
    line-height: 1.5 !important;
    //padding: 0px !important;
    //font-weight: normal !important;
    color: siimple.color-darker("primary") !important;
    //background-color: siimple.grey("1");
    //border-radius: 5px;
}
.siimple-breadcrumb {
    white-space: nowrap !important;
}

//Override html tag styles
html {
    background-color: siimple.$light1 !important;
    //background-color: siimple.$white !important;
}

//Website hero component
.website-hero {
    display: block;
    overflow: hidden;
    //padding-top: 20px;
    //padding-bottom: 20px;
}
.website-hero-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.website-hero-head {
    font-size: 96px;
    line-height: 1;
    color: siimple.color("primary");
}
.website-hero-subhead {
    display: none;
    font-size: 40px;
    line-height: 50px;
    //opacity: 0.8;
    margin-bottom: 10px;
    color: siimple.color("primary");
}
.website-hero-text {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: siimple.color("primary");
    //opacity: 0.8;
}

//Website icons
.website-icon-small,
.website-icon-large {
    //background-color: siimple.color("primary");
    color: #ffffff !important;
    border-radius: 50%;
}
.website-icon-large {
    font-size: 40px;
    padding: 15px;
}
.website-icon-small {
    font-size: 32px;
    padding: 10px;
}

//Snippet
.website-snippet {
    //border-radius: siimple.$border-radius;
    //background-color: siimple.color("light") !important;
    //background-color: siimple.color("dark") !important;
    //padding: 10px;
    margin-bottom: siimple.$margin-bottom;
    margin-top: 20px;
}
.website-snippet-demo { 
    //background-color: siimple.color("white");
    //border-radius: siimple.$border-radius;
    overflow: scroll;
    //padding: 10px;
    margin-bottom: siimple.$margin-bottom;
}
.website-snippet-code {
    //border-radius: 0px !important;
    background-color: siimple.color("light") !important;
    color: siimple.color("dark") !important;
    //padding-top: 20px !important;
    //padding-left: 10px !important;
    //padding-right: 10px !important;
    //padding-bottom: 10px !important;
    //width: calc(100% - 20px) !important;
    //margin-bottom: 0px !important;
}

//Website menu
.website-menu {
    background-color: transparent !important;
    //Add padding on desktop devices
    @media screen and (min-width: siimple.$mobile) {
        padding-right: 44px;
    }
}

